@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Genos:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  font-family: "Coming Soon", cursive;
  font-weight: 600;
  font-style: normal;
}

img {
    width: 100%;
}


/* Header */
header {
    background-color: #731414;
    color: #fff;
    border-bottom: 1px #fff solid;
}

.logo {
    max-width: 130px;
}

.toggler,
.nav-link {
    font-size: 25px;
    color: #fff;
    padding-right: 2rem !important;
    transition: 0.4s;
}

.toggler:hover,
.nav-link:hover {
    color: #f50101;
}

.buy-now {
    background-color: #f50101;
    font-size: 1rem;
    padding: 10px 40px;
    border: solid 3px #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    transition: 0.4s;
}

.buy-now:hover {
    background-color: #fff;
    color: #f50101;
    border-color: #f50101;
    
}

#about {
    background-color: #a1060e;
    color: #fff;
    padding-top: 80px;

}

.side-content {
    font-size: 900;
    line-height: 2.5;
    font-size: 1.5rem;
}

.side-img {
    max-width: 500px;
}

#how-to-buy {
    position: relative;
    height: 100%;
    width: 100%;
}

.how-to-buy-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.how-content {
    position: relative;
    z-index: 1;
    width: 55%;
    padding-left: 5%;
    padding-top: 150px;
    color: #fff;
    font-weight: 900;
    padding-bottom: 20px;
    /* margin-bottom: 120px; */

}

.heading {
    font-size: 3rem;
}

.sub-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.token-img img,
.hero-img img {
    min-height: 400px;
}


/* Roadmap */
.swiper-slide {
    border-radius: 20px;
    overflow: hidden;
    max-width: 300px;
}

#community {
    padding: 100px 0;
    background-color: #731414;
    color: #fff;
}

.twitter {
    color: #1DA1F2;
}

.telegram {
    color: #0088cc;
    position: relative;
    z-index: 1;
}

.telegram::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: -1;
}

.slide-img {
    overflow: hidden;
    border-radius: 20px;
    max-width: 350px;
}

#roadmap {
    /* padding-block: 50px; */
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    background-color: #4f060a;
}


@media (min-width:999px) {
    .container {
        max-width: 1200px !important;
    }
}


@media (max-width: 1300px) {
    #how-to-buy {
        background: linear-gradient(.1turn, #7f000e 70%, #ea9498);
    }
}

@media (max-width: 756px) {
    .how-content {
        width: 95%;
        margin-inline: auto;
        text-align: center;
    }
}